// Define variables for your color scheme

// For example:
$purple: #797bc2;
$blue: #000;
$yellow: #e9a83f;
$orange: #f0796d;
$green: #d4f7e1;
$red: #dc3545;
$gray: #0E0000;
$light-gray: #F4F4F4;
$charcoal: #212529;
