<div>
  <h1 class="display-1 big-text text-center m-2"><em>STHEVIE</em></h1>
  <h2 class="text-center text-white"> (Station of health and environmental: a vie?) </h2>
  <h3 class="font-weight-bold text-center text-uppercase m-2">Mide tu huella de salud y de carbono</h3 class="text-center">
</div>
<%= image_tag "portada.svg", class: "dieta-pic" %>

<div class="d-flex justify-content-center m-4">
  <%= link_to "Empezar", new_cuestionario_path, class: 'btn btn-danger btn-lg' %>
</div>


