<div>
  <h1 class="display-1 big-text text-center m-2"><em>STHEVIE</em></h1>
  <h2 class="text-center pb-2">(Station of health and environmental: a vie?)</h2>
</div>
<%= image_tag "portada.png", class: "dieta-pic" %>
<h4 class="text-center pt-5">Toda actividad que hagamos tiene un impacto en el ambiente y en nuestra salud. La forma en la que nos alimentamos es una de las más importantes: que tanta carne comemos, que tantos alimentos y bebidas altamente procesados ingerimos; cuales son nuestras raciones diarias; donde los compramos entre otros, son claves para cuidar al planeta y también a nuestra salud.</h4 class="text-center">
<h4 class="text-center pt-5">¿Quieres medir tu huella de carbono y de salud?</h4 class="text-center">
<div class="d-flex justify-content-center m-4">
  <%= link_to "Empezar", new_cuestionario_path, class: 'btn btn-success btn-lg' %>
</div>


