<div>
  <h1 class="display-1 text-white big-text text-center m-2">Mide tu impacto en el planeta</h1>
  <p class="text-white font-weight-bold text-center text-uppercase m-2">Huella de carbono y de salud</p class="text-center">
</div>
<%= image_tag "portada.svg", class: "dieta-pic" %>

<div class="d-flex justify-content-center m-4">
  <%= link_to "Empezar", new_cuestionario_path, class: 'btn btn-danger btn-lg' %>
</div>


