<div>
  <h1 class="text-white big-text text-center m-2">Tu impacto en el planeta</h1>
  <p class="text-center text-uppercase m-2">Huella de carbono y de salud</p class="text-center">
</div>
<%= image_tag "portada.png", class: "dieta-pic" %>

<div class="d-flex justify-content-center mt-4">
  <%= link_to "Tomar el cuestionario", new_cuestionario_path, class: 'btn btn-danger btn-lg' %>
</div>

<div class="d-flex justify-content-center py-5">
  <%= link_to "Ver resultados de cuestionarios", cuestionarios_path, class: 'btn btn-primary' %>
</div>
