<div>
  <h1 class="display-1 big-text text-center m-2"><em>STHEVIE</em></h1>
  <h2 class="text-center pb-2">(Station of health and environmental: a vie?)</h2>
</div>
<%= image_tag "portada.png", class: "dieta-pic" %>
<h4 class="text-center pt-5">Mide tu huella de salud y de carbono</h4 class="text-center">
<div class="d-flex justify-content-center m-4">
  <%= link_to "Empezar", new_cuestionario_path, class: 'btn btn-success btn-lg' %>
</div>


