<div>
  <h1 class="text-white big-text text-center m-2">Mide tu impacto en el planeta</h1>
  <p class="text-white font-weight-bold text-center text-uppercase m-2">Huella de carbono y de salud</p class="text-center">
</div>
<%= image_tag "portada.png", class: "dieta-pic" %>

<div class="d-flex justify-content-center mt-4">
  <%= link_to "Empezar", new_cuestionario_path, class: 'btn btn-danger btn-lg' %>
</div>

<div class="d-flex justify-content-center py-5">
  <%= link_to "Ver resultados de cuestionarios", cuestionarios_path, class: 'btn btn-primary' %>
</div>

<div class="text-center">
  <%= image_tag "bubble.png" %>
  <span><small>TU IMPACTO</small></span>
  <span><small>TU IMPACTO</small></span>
  <span><small>TU IMPACTO</small></span>
</div>
<div class="container bg-dark text-white">
  <div class="row">
    <div class="col-2 d-flex flex-column justify-content-around align-items-center">
      <p><small>4,000</small></p>
      <p><small>3,500</small></p>
      <p><small>3,000</small></p>
    </div>
    <div class="col-3 border">
      <h1>🇲🇽🇬🇧🇧🇷🇨🇷🇩🇲🇪🇬🇲🇦🇱🇨🇮🇩</h1>
    </div>
    <div class="col-3 border">
      <h1>🇨🇳🇯🇵🇩🇪🇮🇹🇦🇷🇨🇱🇹🇷🇸🇰🇩🇰🇧🇬🇧🇸🇮🇪🇸🇹🇲🇹🇱🇧🇬🇷🇸🇪🇨🇭</h1>
    </div>
    <div class="col-3 border">
      <h1>🇺🇸🇰🇷🇷🇺🇨🇦🇧🇪🇦🇺🇦🇹🇫🇮</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2 d-flex flex-column justify-content-around align-items-center">
      <p><small>2,500</small></p>
      <p><small>2,000</small></p>
      <p><small>1,500</small></p>
      <h2>Kcal</h2>
    </div>
    <div class="col-3 border">
      <h1>🇵🇰🇳🇬🇧🇮🇧🇩🇸🇸🇲🇿🇸🇱🇨🇬</h1>
    </div>
    <div class="col-3 border">
      <h1>🇹🇭🇧🇸🇮🇶🇭🇷🇲🇻</h1>
    </div>
    <div class="col-3 border">
      <h1>🇲🇳🇸🇨</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-9 d-flex justify-content-between mb-2">
      <span><small>0</small></span>
      <span><small>1.3</small></span>
      <span><small>2.7</small></span>
      <span><small>4.1</small></span>
      <span><small>5.4</small></span>
      <span><small>6.8</small></span>
      <span><small>8.2</small></span>
      <span><small>9.5</small></span>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-9">
      <h2 class="text-center">CO2 por día</h2>
    </div>
  </div>
</div>
