.bg-input {
  background-color: $success;
  border: 2px solid black;
  &::placeholder {
    color: white;
  }
}

legend {
  display: none;
}

input[type="radio"] {
  display: none;
  background-color: $success;
  transform: scale(0.2);
  &:checked {
    display: block;
    border-color: white;
    background-color: black;
    color: black;
    transform: scale(1.7);
  }
}

input[type="checkbox"] {
  background-color: $success;
  transform: scale(1.7);
  &:checked {
    border-color: white;
    background-color: black;
    color: black;
    transform: scale(1.9);
  }
}

.dieta-pic {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.sm-icon {
  display: block;
  width: 48px;
  margin: 0 auto;
}
