.bg-results {
  margin: 0;
}

.bg-custom {
  background-color: $green;
}

#bg-orange {
  background-color: red;
}

.bubble {
  height: 50px;
  margin: 1em;
}

.opacity-80 {
  opacity: 0.8;
}

.letter-spacing-1 {
  letter-spacing: 0.2em;
  padding: 0.1em;
}

.location-dot {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
